<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{else}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>
			{{/if}}

			<div class="separator"></div>

			<p class="description">{{{@blog.description}}}</p>
			<div class="social-icons">
				<?php /* 
				href="https://github.com/Bartinger" class="icon icon-github"
				href="https://plus.google.com/+DominicBartl?rel=author" class="icon icon-gplus"
				*/?>
				<a href="https://twitter.com/athways" target="_blank" class="icon icon-twitter"></a>
				<a href="/rss" class="icon-rss"></a>
				<a href="mailto:dan@athways.com" class="icon-mail"></a>

				<!--

				Search section if we choose to include it:

				<form style="text-align:center">
			    	<input id="search-field" style="border-radius: 25px" />
			    	<input type="submit" value="search">
			    </form>
			    <section id="results" style="text-align:center"></section> 
				
				-->

			</div>
		</header>
	</div>